<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Header -->
    {% include 'header.html' %}
  </head>
  <body>
    <div class="main-content">
      <div class="main-content-inner">
        <div class="page-content">
          <div class="page-header">
            <h1>
              List Data
              <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                List Data
              </small>
            </h1>
          </div><!-- /.page-header -->
          <div class="row">
            <div class="col-xs-12">
              <!-- PAGE CONTENT BEGINS -->
              <div class="row">
                <div class="col-md-12">
                  <div class="box-body table-responsive">
                    <table class="table table-bordered table-striped table-hover" id="table_id">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>No Ruas</th>
                                <th>Nama Jalan</th>
                                <th>Start From</th>
                                <th>PCI kanan</th>
                                <th>PCI kiri</th>
                                <th>IRI kanan</th>
                                <th>IRI kiri</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                         
                          {% for row in data %}
                                <tr>
                                  <td>{{ loop.index }}</td>
                                  <td>{{ row['no_ruas'] }}</td>
                                  <td>{{ row['nama_jalan'] }}</td>
                                  <td>{{ row['start_from'] }}</td>
                                  <td>{{ row['pci_kanan'] }}</td>
                                  <td>{{ row['pci_kiri'] }}</td>
                                  <td>{{ row['iri_kanan'] }}</td>
                                  <td>{{ row['iri_kiri'] }}</td>
                                    <td class="text-center">
                                        <!-- <button class="btn btn-warning btn-xs" id="btnedit" href="" title="Atur">
                                            <i class="fa fa-pencil"></i>
                                        </button> -->
                                        <a class="btn btn-danger btn-xs" id="btndel" href="{{url_for('proses_delete',id_data=row['id_data'])}}" title="Hapus">
                                            <i class="fa fa-trash"></i>
                                        </a>
      
                                    </td>
                                  </tr>
                                    {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
    {% include 'script.html' %} 
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
      <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
  </div><!-- /.main-container -->
  </body>
</html>
