<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Header -->
    {% include 'header.html' %}
  </head>
  <body>
    <div class="main-content">
      <div class="main-content-inner">
        <div class="page-content">
          <div class="page-header">
            <h1>
              Method
              <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Silhoute
              </small>
            </h1>
          </div><!-- /.page-header -->
          <div class="row">
            <div class="col-xs-12">
              <!-- PAGE CONTENT BEGINS -->
              <div class="row">
                <div class="col-md-12">
                  <div class="box-body table-responsive">
                    <table class="table table-bordered table-striped table-hover" id="table_id">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Jumlah Cluster</th>
                                <th>Score Silhoute</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <td>1</td>
                              <td>{{ k }}</td>
                              <td>{{ jumlah }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
    {% include 'script.html' %} 
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
      <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
  </div><!-- /.main-container -->
  </body>
</html>
